---
import "../styles/global.css";
import { Font } from "astro:assets";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DOTDANIEL.DEV</title>
    <Font cssVariable="--font-ibm-plex-mono" />
	</head>
	<body class="bg-slate-300 p-16 flex flex-col min-h-screen">
    <header class="bg-white p-8 border border-solid border-black">
      <h1 class="font-mono font-bold text-3xl">DOTDANIEL.DEV</h1>
    </header>
    <main class="bg-white mt-8 p-8 border border-solid border-black grow">
      <p>A Flawless Website</p>
    </main>
  </body>
</html>
